#title{
    text-align: center;
    
}

#top{
    position: absolute;
    margin-left: 430px;
    margin-top: -30px;
}


#canvas{
    border: 5px solid 	#CD853F;
    cursor: url(pen.cur),auto;
    background-image: url("white.jpg");
    border-radius: 10px;
    display: block;
    margin-left: 320px;
    position: absolute;
    margin-top: 80px;
}


body {
    background-image: url("background.png");
   }

#color{
    width: 60px;
    height: 40px;
    margin:17px;
    
}

#palette{
    width: 100px;
    height: 80px;
    margin-left : 170px;
    margin-top : 55px;
    border-radius: 100%;
    background-color: rgba(226, 44, 44, 0.774);
    text-align: center;
    color :black;
    font-weight: bold;
    position: absolute;
}

#palette:hover{
    background-color: rgba(134, 37, 37, 0.774);
}

#brushsize{
   margin-top: 30px;
   width: 80px;
    
}

#brush_size{
    width: 100px;
    height: 80px;
    margin-left : 170px;
    margin-top : 170px;
    border-radius: 100%;
    background-color: rgba(255, 136, 0, 0.774);
    text-align: center;
    color :black;
    font-weight: bold;
    position: absolute;
    
}

#brush_size:hover{
    background-color: rgba(199, 107, 2, 0.774);
}
#one{
    margin:20px;
}

#eraser{
    background:url(eraser_background.png);
    background-color: rgb(62, 219, 219);
    width: 100px;height: 80px;
    border-radius: 100%;
    border:none;
    background-size:64px;
    background-repeat: no-repeat;
    background-position: center; 
}

#eraser_bg
{
    margin-left : 980px;
    margin-top : 50px;
    font-weight: bold;
    text-align: center;
    color:black;
    display: block;
    position: absolute;
}

#eraser:hover{
    background-color: rgb(50, 170, 170);
}

#two{
    margin:-3px;
}

#brush{
    background:url(pencil_bg.png);
    background-color: rgba(255, 238, 0, 0.877);
    width: 100px;height: 80px;
    border-radius: 100%;
    border:none;
    background-size:64px;
    background-repeat: no-repeat;
    background-position: center; 
}

#brush:hover{
    background-color: rgba(197, 184, 1, 0.877);
}

#brush_bg
{
    margin-left : 980px;
    margin-top : 170px;
    font-weight: bold;
    text-align: center;
    color:black;
    display: block;
    position: absolute;
}

#three{
    margin:-3px;
}

#rectangle{
    background:url(lego.png);
    background-color: rgba(100, 100, 100, 0.877);
    width: 100px;height: 80px;
    border-radius: 100%;
    border:none;
    background-size:64px;
    background-repeat: no-repeat;
    background-position: center; 
}

#rectangle:hover{
    background-color: rgba(58, 58, 58, 0.877);
}

#rectangle_bg
{
    margin-left : 980px;
    margin-top : 290px;
    font-weight: bold;
    text-align: center;
    color:black;
    display: block;
    position: absolute;
}

#four{
    margin:-3px;
}

#circle{
    background:url(intersection.png);
    background-color: rgba(140, 61, 160, 0.877);
    width: 100px;height: 80px;
    border-radius: 100%;
    border:none;
    background-size:64px;
    background-repeat: no-repeat;
    background-position: center; 
}
#circle:hover{
    background-color: rgba(92, 41, 105, 0.877);
}

#circle_bg
{
    margin-left : 980px;
    margin-top : 415px;
    font-weight: bold;
    text-align: center;
    color:black;
    display: block;
    position: absolute;
    
}

#five{
    margin:-3px;
}

#triangle{
    background:url(warning.png);
    background-color: rgba(22, 172, 9, 0.877);
    width: 100px;height: 80px;
    border-radius: 100%;
    border:none;
    background-size:64px;
    background-repeat: no-repeat;
    background-position: center; 
}

#triangle:hover{
    background-color: rgba(17, 116, 8, 0.877);
}

#triangle_bg
{
    margin-left : 1100px;
    margin-top : 110px;
    font-weight: bold;
    text-align: center;
    color:black;
    display: block;
    position: absolute;
    
}

#six{
    margin:-3px;
}

#reset{
    background:url(reset.png);
    background-color: rgba(0, 110, 255, 0.877);
    width: 100px;height: 80px;
    border-radius: 100%;
    border:none;
    background-size:64px;
    background-repeat: no-repeat;
    background-position: center; 
}

#reset:hover{
    background-color: rgba(2, 62, 141, 0.877);
}

#reset_bg
{
    margin-left : 45px;
    margin-top : 100px;
    font-weight: bold;
    text-align: center;
    color:black;
    display: block;
    position: absolute;
    
}

#seven{
    margin:-3px;
}

#undo{
    background:url(undo.png);
    background-color: rgba(255, 186, 255, 0.877);
    width: 100px;height: 80px;
    border-radius: 100%;
    border:none;
    background-size:64px;
    background-repeat: no-repeat;
    background-position: center; 
}

#undo:hover{
    background-color: rgba(182, 137, 182, 0.877);
}

#undo_bg
{
    margin-left : 45px;
    margin-top : 220px;
    font-weight: bold;
    text-align: center;
    color:black;
    display: block;
    position: absolute;
    
}

#eight{
    margin:-3px;
}

#redo{
    background:url(redo.png);
    background-color: rgba(255, 186, 255, 0.877);
    width: 100px;height: 80px;
    border-radius: 100%;
    border:none;
    background-size:64px;
    background-repeat: no-repeat;
    background-position: center; 
}

#redo:hover{
    background-color: rgba(182, 137, 182, 0.877);
}

#redo_bg
{
    margin-left : 45px;
    margin-top : 350px;
    font-weight: bold;
    text-align: center;
    color:black;
    display: block;
    position: absolute;
    
}

#nine{
    margin:-3px;
}

#download_img{
    background:url(download.png);
    background-color: rgba(172, 230, 106, 0.877);
    width: 100px;height: 80px;
    border-radius: 100%;
    border:none;
    background-size:64px;
    background-repeat: no-repeat;
    background-position: center; 
}

#download_img:hover{
    background-color: rgba(133, 175, 85, 0.877);
}

#download_bg
{
    margin-left : 170px;
    margin-top : 300px;
    font-weight: bold;
    text-align: center;
    color:black;
    display: block;
    position: absolute;
    
}

#ten{
    margin:-3px;
}

#paste_image{
    background:url(image_paste.png);
    background-color: rgba(45, 36, 173, 0.877);
    width: 100px;height: 80px;
    border-radius: 100%;
    border:none;
    background-size:64px;
    background-repeat: no-repeat;
    background-position: center; 
}

#paste_image:hover{
    background-color: rgba(20, 16, 77, 0.877);
}

#paste_image_bg
{
    margin-left : 170px;
    margin-top : 420px;
    font-weight: bold;
    text-align: center;
    color:black;
    display: block;
    position: absolute;
    
}

#eleven{
    margin:-3px;
}



#typeface
{
    border:#CD853F solid 5px;
    border-radius: 5px;
    position: absolute;
    margin-left:560px;
    margin-top:520px;
    
}
#fontsize
{
    border:#CD853F solid 5px;
    border-radius: 5px;
    position: absolute;
    margin-left:490px;
    margin-top:520px;
    
}
#text_button
{
    border:#CD853F solid 5px;
    border-radius: 5px;
    position: absolute;
    margin-left:280px;
    margin-top:520px;
    
    
}

#text{
    border:#CD853F solid 5px;
    border-radius: 5px;
    margin-left:310px;
    margin-top:520px;
    position: absolute;
}

#upload {
     
    background: white;
    border: 5px solid #CD853F;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    position: absolute;
    margin-left:710px;
    margin-top:515px;
   
}
#rainbow{
    background:url(rainbow.png);
    background-color: rgba(255, 146, 164, 0.877);
    width: 100px;height: 80px;
    border-radius: 100%;
    border:none;
    background-size:64px;
    background-repeat: no-repeat;
    background-position: center; 
}

#rainbow:hover{
    background-color: rgba(192, 116, 128, 0.877);
}

#rainbow_bg
{
    margin-left : 1100px;
    margin-top : 235px;
    font-weight: bold;
    text-align: center;
    color:black;
    display: block;
    position: absolute;
    
}

#twelve{
    margin:-3px;
}

#star{
    background:url(star.png);
    background-color: rgba(253, 249, 210, 0.877);
    width: 100px;height: 80px;
    border-radius: 100%;
    border:none;
    background-size:64px;
    background-repeat: no-repeat;
    background-position: center; 
}

#star:hover{
    background-color: rgba(207, 204, 177, 0.877);
}

#star_bg
{
    margin-left : 1100px;
    margin-top : 360px;
    font-weight: bold;
    text-align: center;
    color:black;
    display: block;
    position: absolute;
    
}

#thirteen{
    margin:-3px;
}

#line{
    background:url(line.png);
    background-color: rgba(95, 218, 191, 0.877);
    width: 100px;height: 80px;
    border-radius: 100%;
    border:none;
    background-size:64px;
    background-repeat: no-repeat;
    background-position: center; 
}

#line:hover{
    background-color: rgba(74, 161, 143, 0.877);
}

#line_bg
{
    margin-left : 1100px;
    margin-top : 480px;
    font-weight: bold;
    text-align: center;
    color:black;
    display: block;
    position: absolute;
    
}

#fourteen{
    margin:-3px;
}

#ctrlv{
    text-align: center;
    margin-top: 570px;
    margin-left: 300px;
    position: absolute;
}

#image_color{
    background:url(dropper_bg.png);
    background-color: rgba(255, 255, 255, 0.877);
    width: 100px;height: 80px;
    border-radius: 100%;
    border:none;
    background-size:64px;
    background-repeat: no-repeat;
    background-position: center; 
}

#image_color:hover{
    background-color: rgba(230, 229, 229, 0.877);
}

#image_color_bg
{
    margin-left : 30px;
    margin-top : 475px;
    font-weight: bold;
    text-align: center;
    color:black;
    display: block;
    position: absolute;
    
}

#fifteen{
    margin:-3px;
}